@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');

:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #2d3131;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--on-background);
  font-family: Comfortaa, sans-serif;
  background-color: var(--background);
}

section {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0px;
  margin-top: 0px;
}

h1 {
  font-family: Kaushan Script, sans-serif;
  font-size: 100px;
  margin-bottom: 0;
  
}

h2 {
  color: var(--on-background-alt);
  font-size: 32px;
  font-weight: normal;
  
}

/* Navigation */
/* Ajoutez ces styles pour la barre de navigation */
nav {
  z-index: 10;
  position: fixed;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 15px 0;
  width: 100%;
  background: var(--secondary-color);  /* adopte la même couleur cyan que tes bordures */
  transition: height 0.3s; /* Transition pour l'animation */
  text-align: center;
}

nav:hover {
  height: auto; /* Hauteur automatique au survol pour afficher les liens */
}

nav a {
  margin-right: 25px;
  color: #fff; /* Couleur du texte blanc */
  text-decoration: none;
  font-weight: bold;
}
nav a:focus {
  text-decoration: underline;
}

/* Réduire la taille de la barre de navigation lorsqu'on descend sur le site */
/* Masquez les boutons lorsque la barre est minimisée */
nav.minimized #nav-buttons {
  display: none;
}


nav.minimized:hover {
  height: auto; /* Hauteur automatique au survol pour afficher les liens */
}

#nav-buttons {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center;
}

/* Navigation */

#nav .nav-container {
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Aligne les éléments au centre verticalement */
  padding: 25px;
}




a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
  color: var(--on-background);
  border-bottom: 3px solid;
}

/* Home Section */
.title-group {
  text-align: center;
}

/* About Section */
.about-container {
  display: flex;
}

.image-container {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 25px;
  width: auto;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

img {
  height: 300px;
  width: 300px;
}

/* Projects Section */

.caroussel-item{
  height:auto;
  
}

.container {
  width: 100%; /* Modifier la largeur */
  max-width: 800px; /* Ajouter une largeur maximale */
  margin: auto; /* Centrer horizontalement */
  padding: 0 20px; /* Ajouter des marges intérieures */
}

.project-date {
  color :white; /* Gris un peu effacé */
  font-size: 16px; /* Taille de la police */
  font-style: bold; /* Style de la police en italique */
}

/*CAROUSEL*/

#contenu{
  text-align: rigth;
}

#slider {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
  text-align: center;
}
#slider input[type=radio] {
  display: none;
}
.slide-content {
  height: auto;
  margin-bottom: 20px; /* Ajuster la hauteur automatiquement en fonction du contenu */
}
.additional-content {
  max-height: 300px; /* Définir la hauteur maximale pour le contenu supplémentaire */
  overflow-y: auto; /* Ajouter une barre de défilement si nécessaire */
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#slides .slide_1 {
  background: #00171F;
}
#slides .slide_2 {
  background: #003459;
}
#slides .slide_3 {
  background: #007EA7;
}
#slides .slide_4 {
  background: #00A8E8;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float:left;
  margin: 0 0 0 -50px;
  display: block;
  
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #slides {
     max-width: calc(100% - 140px);
     margin: 0 auto;
  }
}



/*CAROUSSEL 2*/

.slide_2-content {
  height: auto;
  margin-bottom: 20px; /* Ajuster la hauteur automatiquement en fonction du contenu */
}
.additional_2-content {
  max-height: 300px; /* Définir la hauteur maximale pour le contenu supplémentaire */
  overflow-y: auto; /* Ajouter une barre de défilement si nécessaire */
}
#slider_2 {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
  text-align: center;
}
#slider_2 input[type=radio] {
  display: none;
}
#slider_2 label {
  cursor:pointer;
  text-decoration: none;
}
#slides_2 {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow_2 {
  width: 100%;
  overflow: hidden;
}
#slide1_2:checked ~ #slides_2 .inner_2 {
  margin-left: 0;
}
#slide2_2:checked ~ #slides_2 .inner_2 {
  margin-left: -100%;
}
#slide3_2:checked ~ #slides_2 .inner_2 {
  margin-left: -200%;
}
#slide4_2:checked ~ #slides_2 .inner_2 {
  margin-left: -300%;
}
#slides_2 .inner_2 {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 300px;
}
#slides_2 .slide_2 {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#slides_2 .slide_1 {
  background: #00171F;
}
#slides_2 .slide_2 {
  background: #00171F;
}
#slides_2 .slide_3 {
  background: #00171F;
}
#slides_2 .slide_4 {
  background: #00171F;
}
#controls_2 {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls_2 label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls_2 label:hover {
  opacity: 1;
}
#slide1_2:checked ~ #controls_2 label:nth-child(2),
#slide2_2:checked ~ #controls_2 label:nth-child(3),
#slide3_2:checked ~ #controls_2 label:nth-child(4),
#slide4_2:checked ~ #controls_2 label:nth-child(1) {
  background: url(https://cdn-icons-png.flaticon.com/512/54/54900.png) no-repeat;
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1_2:checked ~ #controls_2 label:nth-last-child(1),
#slide2_2:checked ~ #controls_2 label:nth-last-child(4),
#slide3_2:checked ~ #controls_2 label:nth-last-child(3),
#slide4_2:checked ~ #controls_2 label:nth-last-child(2) {
  background: url(https://cdn-icons-png.flaticon.com/512/54/54900.png) no-repeat;
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets_2 {
  margin: 150px 0 0;
  text-align: center;
}
#bullets_2 label {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1_2:checked ~ #bullets_2 label:nth-child(1),
#slide2_2:checked ~ #bullets_2 label:nth-child(2),
#slide3_2:checked ~ #bullets_2 label:nth-child(3),
#slide4_2:checked ~ #bullets_2 label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1_2:checked ~ #controls_2 label:nth-child(2),
  #slide2_2:checked ~ #controls_2 label:nth-child(3),
  #slide3_2:checked ~ #controls_2 label:nth-child(4),
  #slide4_2:checked ~ #controls_2 label:nth-child(1),
  #slide1_2:checked ~ #controls_2 label:nth-last-child(2),
  #slide2_2:checked ~ #controls_2 label:nth-last-child(3),
  #slide3_2:checked ~ #controls_2 label:nth-last-child(4),
  #slide4_2:checked ~ #controls_2 label:nth-last-child(1) {
     margin: 0;
  }
  #slides_2 {
     max-width: calc(100% - 140px);
     margin: 0 auto;
  }
}



/* Contact Section */
.fab {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
}

.fab:hover {
  color: var(--on-background);
}

.social-icons a {
  display: inline-block;
  width: 100px;
}

.fas {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
}

.far {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
}



#controls_2 label:nth-of-type(1) {
  left: 10px;
}

#controls_2 label:nth-of-type(2) {
  right: 10px;
}

#controls_2 label:nth-of-type(3) {
  left: 10px;
}

#controls_2 label:nth-of-type(4) {
  right: 10px;
}


/*
@media screen and (min-width:800px){

nav {
  
  font-size: 13px;
}

h1 {
 
  font-size: 70px;
}

.about-container {
 
  display: column;
}

.image-container {
  
  
  padding: 10px 16px;
  margin-right: 10px;
}

.buttons {
  margin-left: 21px;
}

.fab {
  
  font-size: 53px;
  padding-left: 19px;
}

}  
